@using System.Net.Http
@using System.Net.Http.Json
@using System.Text.Json
@using System.Text.Json.Serialization;
@using System.Net.Http.Headers
@inject LadderClient Ladder
@inject TwitchClient twitchClient
@inject NavigationManager NavigationManager

@if ((ScheduleItem != null) && (!ScheduleItem.HasCompleted))
{
<tr>
    <td>@ScheduleItem.Mode</td>
    <td>@ScheduleItem.RaceName</td>
    <td>@ScheduleItem.StartTime</td>
    @if ((twitchClient.access_token != string.Empty) && (!scheduled))
    {
    <td><button @onclick="AddToSchedule">Add to Schedule</button></td>
    }
</tr>
}

@code
{
    bool scheduled = false;

    [Parameter]
    public ScheduleItem ScheduleItem { get; set; }
    private async Task AddToSchedule()
    {
        StreamScheduleSegment seg = new StreamScheduleSegment();
        seg.start_time = DateTime.Parse(ScheduleItem.StartTime);
        seg.timezone = "America/New_York";
        seg.is_recurring = false;
        seg.title = $"ALTTPR Ladder {ScheduleItem.Mode}";
        seg.duration = "120";

        scheduled = await twitchClient.PutStreamScheduleSegment(seg, twitchClient.LoggedInUser.id);
    }
}